td.content-block {
    border-radius: 10px;
    width: 350px;
    height: 100px;
    background-color: rgb(195, 197, 202);
    text-align: center;
    border-color: black;
    vertical-align: middle;
    opacity: 0.7;
    font-size: 22px;
    cursor: pointer;
}

table.grid {
    margin: auto;
    border-spacing: 70px;
    position: relative;
    top: 25%;
}

td.content-block:hover {
    background-color: rgb(153, 153, 153);
    opacity: 0.9;
}

body {
    background-image: url("../content/tam.jpeg");
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center;
    font-family: "IBM Plex Sans", sans-serif;
    word-spacing: 1.5px;
}

.head {
    text-align: center;
    position: relative;
    top: 2%;
}

a.dull {
    text-decoration: none;
    color: black;
}

div.alpha {
    background-color: rgb(195, 197, 202);
    display: block;
    width: 65%;
    overflow: auto;
    margin: auto;
    opacity: 0.85;
    text-align: center;
    position: relative;
    top: 15%;
    font-size: 22px;
    border-radius: 10px;
    padding: 10px;
}

img.headshot {
    position: relative;
    display: block;
    margin: auto;
    border-radius: 10px;
    top: 7.5%;
    height: 300px;
    width: auto;
}

div.beta {
    border-radius: 10px;
    position: relative;
    display: block;
    margin: auto;
    background-color: rgb(195, 197, 202);
    width: 22%;
    text-align: center;
    opacity: 0.85;
    top: 15%;
    overflow: auto;
    padding: 10px;
}